.nav-button {
    position: fixed;
}

.nav-icon {
    font-size: 40px;
}
.footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 10%;
    height: auto;
}

main {
    margin: 50px 20px;
}